[Desktop Entry]
Name=URxvt
GenericName=Terminal
Exec=urxvt
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
